---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import LinkButton from "@components/LinkButton.astro";
import Hr from "@components/Hr.astro";
import getSortedPosts from "@utils/getSortedPosts";
import getSortedProjects from "@utils/getSortedProjects";
import ProjectCard from "@components/ProjectCard";
import PostCard from "@components/PostCard";

const posts = await getCollection("blog");
const projects = await getCollection("project");

const sortedPosts = getSortedPosts(posts);
const sortedProjects = getSortedProjects(projects);
const featuredPosts = sortedPosts.filter(({ data }) => data.featured);
const featuredProjects = sortedProjects.filter(({ data }) => data.featured);
---

<Layout>
  <Header />
  <main id="main-content">
    <section id="hero">
      <h1>Kacper Siniło</h1>

      <p>
        I'm a Fullstack Developer skilled in JavaScript, Python and
        React. I specialize in crafting responsive websites with
        clean, optimized code for dynamic interfaces. A collaborative team
        player, I excel in creating outstanding web applications.
      </p>
    </section>

    <Hr />

    {
      featuredProjects.length > 0 && (
        <>
          <section id="featured">
            <h2>Featured Projects</h2>
            <ul>
              {featuredProjects.map(({ data, slug }) => (
                <ProjectCard
                  href={`/projects/${slug}`}
                  frontmatter={data}
                  secHeading={false}
                />
              ))}
            </ul>
          </section>
          <div class="all-btn-wrapper">
            <LinkButton href="/projects">
              All Projects
              <svg xmlns="http://www.w3.org/2000/svg">
                <path d="m11.293 17.293 1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z" />
              </svg>
            </LinkButton>
          </div>
          <Hr />
        </>
      )
    }

    {
      featuredPosts.length > 0 && (
        <>
          <section id="featured">
            <h2>Featured Posts</h2>
            <ul>
              {featuredPosts.map(({ data, slug }) => (
                <PostCard
                  href={`/posts/${slug}`}
                  frontmatter={data}
                  secHeading={false}
                />
              ))}
            </ul>
          </section>
          <div class="all-btn-wrapper">
            <LinkButton href="/posts">
              All Posts
              <svg xmlns="http://www.w3.org/2000/svg">
                <path d="m11.293 17.293 1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z" />
              </svg>
            </LinkButton>
          </div>
          <Hr />
        </>
      )
    }
  </main>

  <Footer />
</Layout>

<style>
  /* ===== Hero Section ===== */
  #hero {
    @apply pb-6 pt-8;
  }
  #hero h1 {
    @apply my-4 inline-block text-3xl font-bold sm:my-8 sm:text-5xl;
  }
  #hero .rss-link {
    @apply mb-6;
  }
  #hero .rss-icon {
    @apply mb-2 h-6 w-6 scale-110 fill-skin-accent sm:mb-3 sm:scale-125;
  }
  #hero p {
    @apply my-2;
  }
  .social-wrapper {
    @apply mt-4 flex flex-col sm:flex-row sm:items-center;
  }
  .social-links {
    @apply mb-1 mr-2 whitespace-nowrap sm:mb-0;
  }

  /* ===== Featured & Recent Posts Sections ===== */
  #featured,
  #recent-posts {
    @apply pb-6 pt-12;
  }
  #featured h2,
  #recent-posts h2 {
    @apply text-2xl font-semibold tracking-wide;
  }
  .all-btn-wrapper {
    @apply my-8 text-center;
  }
</style>
