---
import type { CollectionEntry } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Pagination from "@components/Pagination.astro";
import { SITE } from "@config";
import ProjectCard from "@components/ProjectCard";

export interface Props {
  currentPage: number;
  totalPages: number;
  paginatedProjects: CollectionEntry<"project">[];
}

const { currentPage, totalPages, paginatedProjects } = Astro.props;
---

<Layout title={`Projects | ${SITE.title}`}>
  <Header activeNav="projects" />
  <Main pageTitle="Projects" pageDesc="Some of the projects I've created.">
    <ul>
      {
        paginatedProjects.map(({ data, slug }) => (
          <ProjectCard href={`/projects/${slug}`} frontmatter={data} />
        ))
      }
    </ul>
  </Main>

  <Pagination
    {currentPage}
    {totalPages}
    prevUrl={`/projects${currentPage - 1 !== 1 ? "/" + (currentPage - 1) : ""}`}
    nextUrl={`/projects/${currentPage + 1}`}
  />

  <Footer noMarginTop={totalPages > 1} />
</Layout>
